

.reveal section img {
    border: 0;
    box-shadow: none;
    background: none;
}

.quote {
    text-align: center;
    font-size: 300%;
    color: gray;
    font-style: italic;
}

#cms {
    h1 {
        font-size: 1200%;
    }
}
