

.reveal {
    .warning {
        background: #ffe7a7;
        color: #1e1e1e;
        padding: 10px;
    }
}


.reveal tt {
    color: #f92672;
    background: #1b1b1b;
    padding-left: 10px;
    padding-right: 10px;
}

.reveal pre.highlight {
    padding: 10px;
    background: #1b1b1b;
}

.reveal section img {
    border: 0;
    box-shadow: none;
    background: none;
}

#cms {
    h1 {
        font-size: 1200%;
    }
}

#django-def {
    h1 {
        color: #4aed4e;
    }
}

#django-features {
    h1 {
        text-align: left;
        font-size: 200%;
    }
}

#djangocms-def {
    h2 {
        color: #a1d7e1;
    }
    h3 {
        color: #e15e86;
    }
}

#apphook-polls-urls {
    h1 {
        font-size: 250%;
    }
}

#djangocms-ending-1 {
    h2 {
        color: #62d942;
    }
    h3 {
        color: #42c9d9;
    }
    h4+h4 {
        color: #d94242;
    }
}
